[submodule "vim/.new/bundle/fugitive"]
	path = vim/.new/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/.new/bundle/git"]
	path = vim/.new/bundle/git
	url = https://github.com/tpope/vim-git.git
	ignore = untracked
[submodule "vim/.new/bundle/minibufexpl"]
	path = vim/.new/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
	ignore = untracked
[submodule "vim/.new/bundle/pyflakes"]
	path = vim/.new/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
	ignore = untracked
[submodule "vim/.new/bundle/gundo"]
	path = vim/.new/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "vim/.new/bundle/pydoc"]
	path = vim/.new/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
	ignore = untracked
[submodule "vim/.new/bundle/pep8"]
	path = vim/.new/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
	ignore = untracked
[submodule "vim/.new/bundle/py.test"]
	path = vim/.new/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
	ignore = untracked
[submodule "vim/.new/bundle/makegreen"]
	path = vim/.new/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
	ignore = untracked
[submodule "vim/.new/bundle/tasklist"]
	path = vim/.new/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
	ignore = untracked
[submodule "vim/.new/bundle/nerdtree"]
	path = vim/.new/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
	ignore = untracked
